.main_deptos {
    position: absolute;
    top: 10vh;
    width: 100vw;
  }
  
  .section_property{
    margin: 0 5vw;
  }
  
  .button_deptos {
    position: relative;
    background-color: var(--primary-color) !important;
    color: var(--primary-color);
    border: 0px solid var(--primary-color);
    transition: all 1s ease;
    padding: 0%;
    padding-right: 1%;
    font-weight: 200 !important;
  }
  
  .button_deptos:first-child {
    font-weight: 400 !important;
  }
  
  .div_images{
    width: 30vw;
  }
  
  .div_images img{
    height: 70vh !important;
  }
  
  .div_images div{
    width: 100%;
  }
  
  .button_deptos:nth-child(-n + 4)::after {
    content: "/";
    padding-left: 1%;
    text-decoration: none;
  }
  
  .button_deptos:hover {
    background-color: var(--primary-color) !important;
    border: 0px solid var(--primary-color);
    text-decoration: underline;
  }
  
  .button_deptos:hover::after {
    text-decoration: none !important;
  }
  
  .property_card {
    display: none !important;
  }
  
  .section_property{
    display: flex;
    justify-content: center;
  }
  
  .div_images{
    display: flex;
    justify-content: flex-start;
  }
  
  .div_text{
    margin-left: calc(var(--margin)* 2);
    display: flex;
    width: 40vw;
    flex-wrap: wrap;
    align-items: initial;
    height: fit-content;
  }

  .div_text h2:first-child{
    display: inline-block;
  }
  
  .deptos_header{
    padding: 10px 5vw;
    color: var(--primary-color);
  }
  
  .price{
    color: var(--success-color);
  }