.headerSection,
.heroSection {
  color: white;
}

/*HEADER*/

.headerSection {
  padding: 0 5vw;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.headerSection div {
  align-items: center;
}

.headerSection img {
  margin: 0 0.5vw;
}

/*HERO*/

.heroSection {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("/images/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroSection .heroDiv h3 {
  font-size: 2em;
  width: 70%;
  margin-bottom: calc(var(--margin)/2);
}

.heroSection .heroDiv .heroTitle h4 {
  width: 70%;
}

.heroDiv {
  width: 45vw;
  padding-left: 2.5vw;
}

/*HERO WINDOWS COMPONENT*/

.windowsDiv{
    display: flex;
    margin-top: calc(var(--margin));
}

.windowDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5% 2%;
    border-radius: 10px 10px 0 0;
    border: 1px solid white;
    font-weight: 100;
}

.windowDiv p{
    margin-left: 1%;
}

.selected{
    background-color: white;
    color: var(--main-color);
}

/*RESPONSIVE*/

@media (max-width: 800px) {
  .heroDiv {
    width: 100%;
    padding: 0 5vw;
  }
  .heroSection .heroDiv h3 {
    font-size: 2em;
  }

  .heroSection .heroDiv h4 {
    display: none;
  }
}
