.headerSection,
.heroSection {
  color: white;
}

/*HEADER*/

.headerSection {
  padding: 0 5vw;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  position: fixed;
  z-index: 1000;
}

.favouriteIcon {
  position: relative;
  padding: 20px 0 20px 20px;
}

.hoverTitle {
  margin: calc(var(--margin) / 2) 0;
}

.favouriteIconDot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.favouriteIcon:hover > .hoverFavouriteSection {
  opacity: 1;
  visibility: visible;
}

.hoverFavouriteSection {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  width: 400px;
  background-color: white;
  padding: 2vw;
  color: var(--main-color);
  box-shadow: var(--shadow);
  border-radius: var(--border);
  margin-top: calc(var(--margin) / 2);
}

.removeIcon:hover {
  color: indianred;
}

.hoverFavouriteSection a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: calc(var(--margin) / 2);
  border-radius: var(--border);
}

.confirmRemove {
  position: absolute;
  display: flex;
  width: 80%;
  border-radius: var(--border);
  gap: 10px;
  padding: 10px 10px;
  background-color: var(--secondary-color);
}

.hoverFavouriteSection a:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color);
}

.hoverFavouriteText {
  display: grid !important;
  gap: calc(var(--margin) / 2);
}

.price {
  color: green !important;
}

.hoverFavouriteSection a img {
  width: 20%;
  height: auto !important;
}

.headerSection div {
  align-items: center;
}

.headerSection img {
  margin: 0 0.5vw;
}

/*HERO*/

.heroSection {
  width: 100vw;
  height: 100vh;
  background-color: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url("/images/background-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.heroSection .heroDiv h3 {
  font-size: 2.5em;
  width: 85%;
  margin-bottom: calc(var(--margin) / 2);
}

.heroSection .heroDiv .heroTitle h4 {
  width: 70%;
}

.heroDiv {
  position: relative;
  width: 45vw;
}

/*HERO WINDOWS COMPONENT*/

.windowsDiv {
  display: flex;
  margin-top: calc(var(--margin) * 2);
}

.windowDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5% 2%;
  border-radius: var(--border) var(--border) 0 0;
  border: 1px solid white;
  font-weight: 100;
}

.windowDiv:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.windowDiv p {
  margin-left: 1%;
}

.selected {
  background-color: white !important;
  color: var(--main-color);
}

.filterSection {
  padding: calc(var(--margin));
  border: 1px solid white;
  border-radius: 0 var(--border) var(--border) var(--border);
  background-color: white;
  color: var(--main-color);
  height: 70%;
}

/*FILTER*/

.filteredResults {
  position: absolute;
  width: 100%;
  height: 60%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: var(--margin);
  border-radius: var(--border);
  overflow-y: auto;
}

.filteredDiv a {
  display: flex;
  background-color: white;
  width: 100%;
  color: var(--main-color);
  padding: var(--margin);
  border-radius: var(--border);
  margin-bottom: calc(var(--margin));
  border: 1px solid rgba(0,0,0,0);
}

.filteredDiv a:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

.filteredText {
  margin-left: calc(var(--margin) / 2);
}

.filteredDiv .imageShowed {
  width: 80px !important;
  height: auto !important;
}

/*PROPERTY CARD*/

.propertySection {
  display: flex;
  justify-content: center;
  gap: calc(var(--margin) * 2);
  margin-bottom: calc(var(--margin) * 2);
  width: 100%;
}

.propertyTitle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.propertyDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.propertyTitle h3 {
  width: 100vw;
  text-align: center;
  margin: var(--margin) 0;
}

/*ABOUT SECTION*/

.aboutDiv {
  padding: 0 5vw;
}

/*RESPONSIVE*/

@media (max-width: 1130px) {
  .heroDiv {
    width: 60vw;
  }
}

@media (max-width: 800px) {
  .heroDiv {
    width: 95%;
    padding: 0 0 0 5vw;
    position: relative;
  }
  .heroSection .heroDiv h3 {
    font-size: 1.8 em;
  }

  .heroSection .heroDiv h4 {
    display: none;
  }

  .propertySection {
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }
}
